{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TFT GUIDE</title>

  <!-- Bootstrap core CSS -->
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href='{% static "css/shop-item.css" %}' rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">TFT 가이드</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">랭킹
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">덱 추천</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">아이템 추천</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html">선택 받은 자 순위</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- <div class="col-lg-3">
        <h1 class="my-4">Category</h1>
        <div class="list-group">
          <a href="#" class="list-group-item active">소환사 검색</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>
      </div> -->
      <!-- /.col-lg-3 -->

      <div class="col-lg-12" style="height: 600px; padding-top:10%">

        <div class="card card-outline-secondary my-4">
          <div class="card-body">
            <h3 class="card-title" style="text-align: center;">riot api 이용해서 tft 전적 검색 가보즈아</h3>
            <form method="post" name="search_form" action="{% url 'tft:search_result' %}">
              <div class="input-group">
                <input type="text" style="left: 37%; flex: none; width: 25%; text-align: center; margin-top: 1%;" class="form-control" placeholder="소환사명" name="search_name"  value="{{ search_name }}">
                <input type="hidden" name="user_id" value="{{ user_info.id }}">
                <input type="hidden" name="user_pwd" value="{{ user_info.pwd }}">
                </div>
                <button type="submit" class="btn btn-success" style="float: right; margin-top: 2%;">전적 검색</a>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">django_study &copy; Hongber 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static "vendor/jquery/jquery.min.js" %}'></script>
  <script src='{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}'></script>

</body>

</html>
